@use "sass:math";
@use "sass:map";

.g-decision {
	position: relative;
	margin-bottom: calc(var(--g-general-margin, 16px) * 2);
	transition: margin-bottom var(--g-general-duration, 0.2s);

	&__answers {
		display: flex;
		gap: var(--g-general-margin, 16px);
		margin-top: calc(var(--g-general-margin, 16px) * 2);
		transition: all var(--g-general-duration, 0.2s);
		flex-wrap: wrap;
	}

	&__answer {
		transition: all var(--g-general-duration, 0.2s);

		button {
			width: 100%;
			transition: all var(--g-general-duration, 0.2s);
		}
	}

	&__description {
		overflow: hidden;
		max-height: 0;
		background: var(--g-color-primary-light, #bfbfbf);
		transition: max-height var(--g-general-duration, 0.2s);

		* {
			color: var(--g-color-dark, #000);
		}
	}

	&--answered &__answers {
		flex-direction: column;
		gap: 0;
	}

	&--answered &__answer {
		margin-top: calc(var(--g-general-margin, 16px) * -1);
		button {
			width: unset;
			min-width: calc(100% / 3);
			text-align: left;
		}
	}

	&--answered &__answer--answered {
		order: 5;
		z-index: 10;
	}

	&--answered &__answer--answered &__description {
		max-height: 2000px;
		padding: var(--g-general-margin, 16px);
	}

	&__placeholder {
		display: grid;
		position: absolute;
		top: calc(100% + var(--g-general-margin, 16px));
		width: 100%;
		height: 0;
		opacity: 0;
		transition: all var(--g-general-duration, 0.2s);
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 35% 65%;

		h3 {
			grid-column: 1 / 2;
		}

		div {
			grid-column: 1 / 3;
			grid-row: 2 / 3;
		}

		* {
			background: var(--g-color-dark, #000);
		}
	}

	&__back {
		display: none;
		cursor: pointer;
		transition: background-color var(--g-general-duration, 0.2s);

		&-arrow {
			display: none;
			width: 100px;
			height: 100px;
			border-radius: 100%;
			opacity: 0;
			background-color: var(--g-color-primary-light, #bfbfbf);
			transition: opacity var(--g-general-duration, 0.2s);
			justify-content: center;
			align-items: center;

			svg {
				width: 50px;
				height: 50px;

				* {
					stroke: var(--g-color-white, white);
				}
			}
		}
		&-question {
			display: none;
			min-width: min(400px, 80vw);
			padding: var(--g-general-margin, 16px);
			border-radius: var(--g-general-radius, 5px);
			background: var(--g-color-primary-light, #bfbfbf);
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
			gap: var(--g-general-margin, 16px);

			p,
			h3 {
				grid-column: 1 / 3;
			}
		}
	}

	&--answered &__back {
		position: absolute;
		z-index: 15;
		top: 0;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
	&--answered:not(#{&}--confirm) &__back-arrow {
		display: flex;
	}

	&--enable-back &__back {
		display: flex;
	}

	&--answered#{&}--confirm &__back {
		z-index: 20;
		background: rgba(255, 255, 255, 0.5);
		&-question {
			display: grid;
		}
	}

	@media (pointer: fine) {
		&__back:hover {
			background-color: rgba(255, 255, 255, 0.5);
		}
		&__back:hover &__back-arrow {
			opacity: 1;
		}
	}

	&--loading {
		margin-bottom: 150px;
		cursor: progress;
	}

	&--loading &__placeholder {
		height: 150px;
		animation: g_decision_pulse 2s ease-in-out infinite;
	}

	&--loading &__back {
		cursor: progress;
	}
}

@keyframes g_decision_pulse {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 0.3;
	}
}
